
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
    background: #333;
}

#search {
   border-radius: 5px;
}
#output {
  display: none;
  
}

#output .card-content {

  overflow-y: auto;
}

#search-form {
    background: #FFF;
    padding: 15px;
    border-radius: 3px;
  }

#recent {

  text-align: inherit;
}
