
.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

body {
    background: #333;
}

#search {
   border-radius: 5px;
}

#output {
  display: none;
}

#output .card-content {
  overflow-y: auto;
}

#search-form {
    background: #FFF;
    padding: 15px;
    border-radius: 3px;
  }


.card-title {
  text-align: center;
}

#oxford, #urban {
  margin-top: 20px;
}

h1 {
  margin-bottom: 65px;
}

li {
  text-align: center;
}

#recent-search {
  text-align: center;
}

.modal {
  overflow: hidden;
  text-align: center;
  font-weight: bolder; 
}
